# Logs
logs/
*.log

# Storage
storage/

# Experimental
experiments/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# VS Code settings
.vscode/

# GitHub/Copilot local instructions
.github/

# venv
.venv/

# add thrash subdir
__/

# test
test.py

# pytest
.pytest_cache/
.pytest_deps/
.pytest_tmp/
.runtime_check/
